.register-card{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

mat-card {
  margin: 2%;
  text-align: left;
  margin-left: 25%;
  border: 1px solid #ccc;
}

h1{
  text-align: center;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}
.mat-50 {
  width: 48%;
  margin: 1%;
  height: 70px;
}

.div-50 {
  justify-content: space-around;
}

button {
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: large;
  &:hover {
    background-color: #ebaaaa;
    cursor: pointer;
  }
}

.input {
  text-align: center;
}

.mat-mdc-raised-button {
  width: 100%;
}
.error {
  color: red;
}

.radio {
  display: flex;
  justify-content: space-around;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.heading h1 {
  margin: 0;
}

/* Start */

.main-container {
  margin: auto;
  width: 90vw;
  text-align: center;
  gap: 10px;
  padding: 10px;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .child-container {
    width: 50%;
    float: left;
    overflow: hidden;

    img {
      height: auto;
      width: 100%;
    }
  }
}
