.dialog-buttons {
    display: flex;
    justify-content: space-between; /* Align buttons to the right */
  }
  
  .yes-btn {
    /* Adjust margins for spacing */
    margin-left: 100px; /* Add some space between buttons */
  }
  