.analytics-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    .title{
      margin-top: 5px;
      h1{
        font-size: 30px;
        font-weight: bold;
      }
    }
    .top-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30px;
  
      .line-chart-container {
        background-color: white;
        color: black;
        width: 45%;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.51);
      }
  
      .bar-chart-container {
        background-color: white;
        color: black;
        width: 45%;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.51);
      }
    }
  
    .bottom-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30px;
  
      .pie-chart-container {
        background-color: white;
        color: black;
        width: 45%;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.51);
      }
     
      .doughnut-chart-container {
        background-color: white;
        color: black;
        width: 45%;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.51);
      }
    }
  }
  
  .header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }