.header-container {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebaaaa;
  padding: 0 12px;
  position: sticky;
  z-index: 1;
  top: 0;

  .main-icon {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    cursor: pointer;
  }

  .main-name {
    text-decoration: none;
    color: black;
    font-weight: light;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
  }

  .header-search {
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 140px;
    border-radius: 6px;
    padding: 6px;
  }

  .right-header-nav {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
  }

  .link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.sidebar {
  height: 90vh;
  color: black;
  background-color: aliceblue
}

.side-nav {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.add-product-container {
  display: flex;
  font-size: 18px;
  font-weight: light;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: black;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: light;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

input {
  padding: 7px;
  box-sizing: border-box;
  margin-right: 10px;
  width: 500px;
  border: none;
}

.cart-items {
  position: relative;
  top: -9px;
  background-color: rgb(255, 102, 5);
  outline: white solid 2px;
  height: 18px;
  min-width: 18px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 2px;
}

.mat-primary{
  color: orangered;
}

/* Start Of Sort Button Dropdown Styling */
.sort-products-list{
  display: flex;
  flex-direction: column;
}

.dropdown-list{
  width: fit-content;
  margin-left: 12px;
  margin-bottom: 0;
  color: black;
}

.price-filter-list {
  display: flex;
  flex-direction: column;
}

.add-product{
  display: flex;
  font-size: 17px;
  font-weight: light;
  cursor: pointer;
  color: black;
  gap: 5px;
}

.criterion{
  color: black;
}

.price-filter{
  color: black;
  padding: 0;
}