<!-- Check Container -->
<div class="container">
    <!-- Empty Cart Content -->
    <div class="empty" *ngIf="!cartItems.length">
      <mat-card class="empty-cart">
        <div mat-card-content class="empty-cart-content">
          Your cart is currently empty.
        </div>
      </mat-card>
      <div mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          class="add-to-cart-button"
          [routerLink]="'/home'"
        >
          Shop Now
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  
    <!-- Cart Content -->
    <div class="cart-content" *ngIf="cartItems.length">
      <div class="items-container">
        <app-cart-item
          [productData]="cartItem"
          *ngFor="let cartItem of cartItems"
        ></app-cart-item>
      </div>
      <div>
        <app-price-summary></app-price-summary>
      </div>
    </div>
  </div>
  
