.login-card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 80vh;
}

mat-card {
  margin: 2%;
  width: 130%;
  border: 1px solid #ccc;
  justify-content: center;
}

h1{
  text-align: center;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}
.mat-50 {
  display: flex;
  flex-direction: column;
}
.div-50 {
  justify-content: space-around;
}

button {
  margin: 2px;
}
.mat-mdc-raised-button {
  width: 100%;
}
.error {
  color: red;
}

.new{
  margin: 10px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.heading h1 {
  margin: 0;
  text-align: center;
}
