.main-container {
  margin: auto;
  width: 90vw;
  text-align: center;
  gap: 10px;
  padding: 10px;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .child-container {
    width: fit-content;
    float: left;
    overflow: hidden;
    img {
      height: auto;
      width: 90%;
    }
  }
}
.main-header {
  font-size: 30px;
  font-weight: bolder;
}
.sub-header {
  font-size: 14px;
}
.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 5px;
  width: 85%;
  margin: auto;
}
.input {
  text-align: center;
}
button {
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: large;
  &:hover {
    background-color: #ebaaaa;
    cursor: pointer;
  }
}
small {
  color: red;
  font-size: 12px;
}
.actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* ::ng-deep .mat-mdc-form-field-infix {
  min-height: 13px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

::ng-deep .mdc-notched-outline .mdc-floating-label {
  margin-top: -40px;
} */