<div class="main-container">
  <div class="child-container">
    <img src="../../assets/login/undraw_web_shopping_re_owap.svg" alt="" />
  </div>
  <div class="child-container">
    <h2 class="main-header">Welcome to themAll</h2>
    <h5 class="sub-header">Type your email/username and password to log in</h5>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="userLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          class="input"
          matInput
          type="text"
          required
          formControlName="username"
          placeholder="Enter User Name"
        />
        <mat-hint>
          <small
            *ngIf="
            !loginForm.get('username')?.valid &&
            loginForm.get('username')?.touched
          "
          >
            Username is a required field
          </small>
        </mat-hint>
      </mat-form-field>
      <!-- Password input field -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          class="input"
          matInput
          type="password"
          required
          formControlName="password"
          placeholder="Enter Password"
        />
        <mat-hint>
          <small
            *ngIf="
            !loginForm.get('password')?.valid &&
            loginForm.get('password')?.touched
          "
          >
            Password is a required field
          </small></mat-hint
        >
      </mat-form-field>
      <!-- Added -->
      <mat-card-actions class="div-50">
        <div>
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>

        <div>
          <a
            routerLink="/home"
            (click)="resetLogin()"
            color="accent"
            mat-raised-button
            >Cancel</a
          >
        </div>
      </mat-card-actions>
      <div class="new">
        <a routerLink="/auth/signup" color="primary" mat-button>New User?</a>
      </div>

      <!-- <p>
        Don't have an account?
        <a style="color: #ff0000; text-decoration: none" href="create-account"
          >click here</a
        >
      </p>
      <button type="submit">Log in</button> -->
    </form>
  </div>
</div>
