<div class="row">
  <!-- <div class="col-md-12">
    <h6>All Products</h6>
  </div> -->

  <div class="col-md-12 mt-4">  
    <div class="d-flex flex-wrap justify-content-around">
      <mat-card
        class="product-card"
        *ngFor="
          let product of (productData | search : searchText)?.slice(
            0,
            limitControl
          )
        "
        (click)="navigateToProduct(product.id)"
      >
        <div class="d-flex align-items-center justify-content-center p-3">
          <img
            mat-card-image
            [src]="product.image"
            width="150"
            height="160"
            alt=""
          />
        </div>
        <!-- <mat-card-content
          class="card-content"
          style="justify-content: space-between"
        >
          {{ product.title }} <br />
          <p class="currency">{{ product.price * 130 | currency : "Ksh " }}</p>
        </mat-card-content> -->

        <mat-card-content>
          <div class="d-flex flex-wrap text-center justify-content-center align-items-center">
            {{ product.title }}
          </div>
        </mat-card-content>

        <mat-card-actions class="d-flex justify-content-between align-items-center position-absolute bottom-0 w-100 p-2">
          <p class="currency mb-0">{{ product.price * 130 | currency : 'Ksh ' }}</p>
          <mat-icon color="primary">add_shopping_cart</mat-icon>
        </mat-card-actions>
        
      </mat-card>
    </div>
  </div>
</div>
