.price-details{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: fit-content;
    border: 1px solid #ffe6c6;
    background-color: #ffe6c6;
    border-radius: 10px;
    /* position: fixed; */
    right: 120px;
    padding: 5px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.51);


    h3{
        font-weight: bold;
        border-bottom: 1px solid gray;
    }
}

.price{
    display: flex;
    justify-content: space-between;
}

.delivery{
    display: flex;
    justify-content: space-between;
}

.total{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    border-top: 1px solid gray;
    padding-top: 10px;

    h4{
        font-weight: bold;
    }
}

.mat-checkout{
    background-color: orangered;
    color: white;
}