<div class="price-details">
    <h3>CART SUMMARY ({{ cartItems.length }})</h3>
    <div class="price">
      <p>Items Price</p>
      <p>{{ cartItemsTotal * 130 | currency : "Ksh " }}</p>
    </div>
    <div class="delivery">
      <p>Delivery Charges</p>
      <p *ngIf="!deliveryCharge">FREE</p>
      <p *ngIf="deliveryCharge">{{ deliveryCharge * 130 | currency : "Ksh " }}</p>
    </div>
    <div class="total">
      <h4>Subtotal</h4>
      <h4>
        {{ (cartItemsTotal + deliveryCharge) * 130 | currency : "Ksh " }}
      </h4>
    </div>
    <button mat-raised-button color="checkout" routerLink="checkout">
      Checkout
    </button>
  </div>
  