<div class="product-container" *ngIf="productData">
  <div class="product-image">
    <img [src]="productData.image" alt="Product Image" />
  </div>
  <div class="product-details">
    <h1 class="product-title">{{ productData.title }}</h1>
    <p class="product-description">{{ productData.description }}</p>
    <p class="product-rating">Product Rating: {{ productData.rating.rate }}</p>
    <p class="product-score">Product Count: {{ productData.rating.count }}</p>
    <p class="product-price">{{ productData.price * 130 | currency : "Ksh " }}</p>

    <!-- Cart Button Functionality -->
    <div class="action-buttons">
      <!-- Add to Cart Button -->
      <button
        mat-raised-button
        color="primary"
        (click)="addToCart(productData)"
        *ngIf="!isProductInCart"
      >
        Add to Cart<mat-icon>add_shopping_cart</mat-icon>
      </button>
      <!-- Go to cart button  -->
      <button
        mat-raised-button
        color="continue"
        *ngIf="isProductInCart"
        [routerLink]="'/home'"
      >
        Continue Shopping<mat-icon>shopping_cart</mat-icon>
      </button>

      <button
        mat-raised-button
        color="accent"
        (click)="updateProduct(productData.id)"
      >
        Update Product <mat-icon>open_in_new</mat-icon>
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteProduct(productData.id)"
      >
        Delete Product <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</div>
