.product-container {
  display: flex;
  max-width: 80%;
  margin-top: 20px;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.51);
}

.product-image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.product-image img {
  max-width: 100%;
  height: 65vh;
  margin: 10px;
}

.product-details {
  flex: 1.5;
  padding: 20px;
}

.product-title {
  font-size: 24px;
  margin-bottom: 2px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.product-description {
  font-size: 16px;
  color: #555;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.product-rating {
  font-size: 15px;
  margin-bottom: 20px;
}

.product-score {
  font-size: 15px;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.mat-accent{
  background-color: orangered;
  color: white;
}