<div class="product-card">
  <div class="left-container">
    <!-- Note Product Container -->
    <div class="product-container" *ngIf="productData">
      <div class="product-image">
        <img
          class="product-thumbnail"
          [src]="productData.image"
          alt="Product Image"
        />
      </div>
      <div class="counter">
        <button
          mat-raised-button
          class="decrease"
          [disabled]="productData.count == 1"
          (click)="decreaseItemCount(productData)"
        >
          <mat-icon class="action-icon">remove_circle_outline</mat-icon>
        </button>
        <p class="product-count">{{ productData.count }}</p>
        <button
          mat-raised-button
          class="btn-theme increase"
          (click)="increaseItemCount(productData)"
        >
          <mat-icon class="action-icon">add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <!-- End of Product Container -->
  </div>
  <!-- End of Left Container -->

  <!-- Right Container -->
  <div class="right-container">
    <h2>{{ productData.title }}</h2>
    <div class="price-details">
      <p class="item-price">
        Item Price: {{ itemPrice * 130 | currency : "Ksh " }}
      </p>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="w-fit"
      (click)="removeItem(productData)"
    >
      <mat-icon class="delete">delete_forever</mat-icon>
    </button>
  </div>
</div>
