.product-card {
  padding: 4px;
  display: flex;
  flex: start;
  /* justify-content: start; */
  /* position: relative;
  display: flex;
  flex-direction: row; */
}

/* .left-container {

} */

.product-image {
  display: flex;
  justify-content: center;
  /* padding: 5px;
  text-align: center; */
}

.counter{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}



.right-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 26%; /* 40% width */
  margin: 20px;
  border: 1px solid #ccc;
  min-height: 20vh;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  position: relative;
  min-height: 20vh;
}

.product-image img {
  max-width: 100%;
  height: 15vh;
  margin: 5px;
}

.product-details {
  flex: 1.5;
  padding: 15px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
}

.product-description {
  font-size: 14px;
  color: #555;
}

.product-rating {
  font-size: 15px;
  margin-bottom: 20px;
}

.product-score {
  font-size: 15px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-theme {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: white;
  outline: none;
  background-color: rgb(255, 102, 0);
}

.discounted-price{
  display: inline-block;
}

