<div class="product-card">
  <div class="left-container">
    <!-- Note Product Container -->
    <div class="product-container" *ngIf="productData">
      <div class="product-image">
        <img [src]="productData.image" alt="Product Image" />
      </div>

      <div class="counter">
        <button
          mat-raised-button
          color="primary"
          class="btn-theme"
          (click)="removeItem(productData)"
        >
          Remove
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="productData.count == 1"
          (click)="decreaseItemCount(productData)"
        >
          <mat-icon class="action-icon">remove_circle_outline</mat-icon>
        </button>
        <p class="product-count">{{ productData.count }}</p>
        <button
          mat-raised-button
          color="accent"
          (click)="increaseItemCount(productData)"
        >
          <mat-icon class="action-icon">add_circle_outline</mat-icon>
        </button>
      </div>

      <!-- <div class="product-details">
        <h1 class="product-title">{{ productData.title }}</h1>
        <h3 class="discounted-price">
          Discounted Price: {{ discountedPrice * 130 | currency : "Ksh " }}
        </h3>
        <p>Item Price: {{ itemPrice * 130 | currency : "Ksh " }}</p>
        <div class="details">
          <button
            mat-raised-button
            color="primary"
            class="btn-theme"
            (click)="removeItem(productData)"
          >
            Remove
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="productData.count == 1"
            (click)="decreaseItemCount(productData)"
          >
            <mat-icon class="action-icon">remove_circle_outline</mat-icon>
          </button>
          <p class="product-count">{{ productData.count }}</p>
          <button
            mat-raised-button
            color="accent"
            (click)="increaseItemCount(productData)"
          >
            <mat-icon class="action-icon">add_circle_outline</mat-icon>
          </button>
        </div>
      </div> -->

    </div>
    <!-- End of Product Container -->
  </div>
  <!-- End of Left Container -->

  <!-- Display Price Details -->
  <div class="right-container"></div>
</div>
